body {
    font-family: Arial, sans-serif;
    background-color: #f4e2c1;
    color: black;
    text-align: center;
    /* padding: 20px; */
}

.base {
    width: 70%;
    margin: auto;
    background: #FFF5EE;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #708090;
}
h2 {
    white-space: pre-line;
    text-align: center;
}


h2, h3 {
    color: #696969;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4A6FA5;
    color: white;
}

td {
    background-color: #fff7e6;
}

h4 {
    background-color: #5d6d7e;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}

p {
    font-size: 16px;
    margin-top: 20px;
}

a {
    color: #b22222;
    font-weight: bold;
    text-decoration: none;
}